/* Mobile version */

#batteryBackground {
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--componentsBackgroundColor);
	margin: 5px;
	z-index: 20;
}

#batteryCharge {
	position: absolute;
	width: 2em;
	height: 100%;
	background-color: var(--validColor);
	z-index: 21;
}

#battery {
	width: 6em;
	z-index: 22;
}

#memory {
	height: 6em;
	z-index: 22;
}

#batteryIndicator, #memoryIndicator {
	position: absolute;
	margin-left: 35%;
	font-size: 1.2em;
	color: var(--textColor);
	z-index: 23;
}

#memoryIndicator {
	margin-bottom: 50%;
}

#memoryBackground {
	position: fixed;
	top: 4em;
	right: .5em;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	background-color: var(--componentsBackgroundColor);
	margin: 5px;
	z-index: 20;
}

#memoryCapacity {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: var(--validColor);
	z-index: 21;
}

.circularButton {
	height: 3em;
	width: 3em;
	border-radius: 100%;
}

label {
	color: var(--textColor);
	font-size: 1.2em;
}

.switch {
  	position: relative;
  	display: inline-block;
  	width: 60px;
  	height: 34px;
}

.switch input {
  	opacity: 0;
  	width: 0;
 	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
  	background-color: var(--validColor);
}

input:focus + .slider {
  	box-shadow: 0 0 1px var(--validColor);
}

input:checked + .slider:before {
  	-webkit-transform: translateX(26px);
  	-ms-transform: translateX(26px);
  	transform: translateX(26px);
}

.slider.round {
  	border-radius: 34px;
}

.slider.round:before {
 	 border-radius: 50%;
} 

#commandsContainer, #console {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: var(--componentsBackgroundColor);
	border-radius: 15px;
	margin-bottom: 25px;
}

#commandsContainer h1, #console h1 {
	text-align: center;
	color: var(--textColor);
	font-size: 2em;
	padding: 10px;
	width: 95%;
	border-radius: 15px;
	background-color: var(--headersBackgroundColor);
}

form {
	display: flex;
	flex-direction: column;
	width: 85%;
}

form div {
	margin: 15px 0 15px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#seePreviousData {
	margin: 25px 0 25px 0;
	padding: 10px;
	width: 95%;
	background-color: var(--componentsBackgroundColor);
	color: var(--textColor);
	font-size: 1.6em;
	border-radius: 25px;
}

#console {
	margin-bottom: 50px;
	height: 500px;	
}

#consoleContent {
	width: 95%;
}

.consoleText {
	text-align: left;
}

.consoleText.error {
	color: var(--errorColor);
	background: none;
}

.consoleText.valid {
	color: var(--validColor);
	background: none;
}


/* Computer version */

@media all and (min-width: 400px) {

	#batteryBackground {
		top: 1em;
	}

	#memoryBackground {
		top: 0;
		right: 6.5em;
	}
}