<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>LC-sat web application: Command pannel</title>

		<link rel="stylesheet" href="../css/base.css">
		<link rel="stylesheet" href="../css/commands.css">

		<script src="../js/commands.js" defer></script>
	</head>

	<body>
		
		<header id="header">
			<h1>LC SAT</h1>
		</header>

		<div id="batteryBackground">
			<img src="../img/battery.png" id="battery">
			<p id="batteryIndicator">75%</p>
			<div id="batteryCharge"></div>
		</div>

		<div id="memoryBackground">
			<img src="../img/memory.png" id="memory">
			<p id="memoryIndicator">75%</p>
			<div id="memoryCapacity"></div>
		</div>

		<article class="mainContainer">

			<section id="commandsContainer">

				<h1>Command Pannel</h1>

				<form>
					<div>
						<input type="button" class="circularButton running" name="connectToCansat" id="connectToCansat"></button>
						<label for="connectToCansat">Connect to CanSat</label>
					</div>

					<div>
						<label class="switch">
					  		<input type="checkbox" id="encryptionSwitch" name="encryptionSwitch" disabled>
					  		<span class="slider round"></span>
						</label>
						<label for="encryptionSwitch">Encrypt data</label>
					</div>

					<div>
						<input type="button" class="circularButton error" name="startRecord" id="startRecord" disabled></button>
						<label for="startRecord">Start recording</label>
					</div>

				</form>
				
			</section>

			<button id="seePreviousData">See previous data</button>

			<section id="console">
				<h1>> Debug</h1>
				<div id="consoleContent">

					<p class="consoleText error">test</p>
					
				</div>
			</section>

		</article>

	</body>

</html>