<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ texts.commands_page_title }}</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/commands.css')}}">

		<script src="{{ url_for('static', filename='js/commands.js')}}" defer></script>
	</head>

	<body>
		
		<header id="header">
			<h1>LC SAT</h1>
		</header>

		<div id="batteryBackground">
			<img src="{{ url_for('static', filename='img/battery.png')}}" id="battery">
			<p id="batteryIndicator">75%</p>
			<div id="batteryCharge"></div>
		</div>

		<div id="memoryBackground">
			<img src="{{ url_for('static', filename='img/memory.png')}}" id="memory">
			<p id="memoryIndicator">75%</p>
			<div id="memoryCapacity"></div>
		</div>

		<article class="mainContainer" id="mainContainer">

			<div class="flex-container">

				<section id="commandsContainer">

					<h1>{{ texts.commands_title }}</h1>

					<form action="" method="post" id="form">
						<div id="div-cansatConnexion">
							<input type="checkbox" class="circularButton running" name="connectToCansat" id="connectToCansat"></button>
							<label for="connectToCansat">{{ texts.connectToCansat }}</label>
						</div>

						<div>
							<label class="switch">
						  		<input type="checkbox" id="encryptionSwitch" name="encryptionSwitch" {{ js.switchState }} disabled>
						  		<span class="slider round"></span>
							</label>
							<label for="encryptionSwitch">{{ texts.encryptData }}</label>
						</div>

						<div>
							<input type="checkbox" class="circularButton error" name="startRecord" id="startRecord" disabled></button>
							<label for="startRecord">{{ texts.startRecording }}</label>
						</div>

					</form>
					
				</section>

				<a id="seePreviousData" href="{{ url_for('process_data_view'} )}">{{ texts.seePreviousData }}</button>
			</div>

			<section id="console">
				<h1>> {{ texts.debug }}</h1>
				<div id="consoleContent">

					<p>>{{ texts.running }}:        {{ terminal.running }}</p>
					<p>>{{ texts.capturing }}:      {{ terminal.capturing }}</p>
					<p>>{{ texts.saving }}:          {{ terminal.saving }}</p>
					<p>>{{ texts.wifi }}:           {{ terminal.wifi }}</p>
					<p>>{{ texts.encryption }}:     {{ terminal.encryption }}</p>
					<p>>{{ texts.buzzer }}:         {{ terminal.buzzer }}</p>
					<p>>{{ texts.mode }}:           {{ terminal.mode }}</p>
					<p>>{{ texts.lastData }}:      {{ terminal.last_data }}</p>
					<p>> === {{ texts.sensors }} === </p>
					<p>>{{ texts.camera }}:         {{ terminal.sensors.camera }}</p>
					<p>>{{ texts.bmp }}:            {{ terminal.sensors.bmp }}</p>
					<p>>{{ texts.accel }}:          {{ terminal.sensors.accel }}</p>
					<p>>{{ texts.gps }}:            {{ terminal.sensors.gps }}</p>
					<p>>{{ texts.thermalCam }}:    {{ terminal.sensors.th_cam }}</p>
					<p>>{{ texts.humidity }}:       {{ terminal.sensors.humidity }}</p>
					
				</div>
			</section>

		</article>

		<div class="modal" id="waitCansatModal">
			<p>{{ texts.waitingForCansat }} ...</p>
			<div class="loader"></div>
		</div>

		<div class="modal" id="stopRecordModal">
			<p>{{ texts.recordingData }} ...</p>
			<form action="" method="post" id="recordingForm">
				
				<input type="checkbox" name="stopRecord" id="stopRecord">

			</form>
		</div>

		<script defer>

			function updateForm(cansatConnexion) {
				
				// const mainContainer = document.getElementById("mainContainer");
				// const loadingModal = document
				
				if (cansatConnexion == "connected") {

					document.getElementById("div-cansatConnexion").style.display = 'none';
					document.getElementById("connectToCansat").disabled = true;
					document.getElementById("encryptionSwitch").disabled = false;
					document.getElementById("startRecord").disabled = false;
					document.getElementById("waitCansatModal").classList.remove('visible');
					
				}
				
			}
			
			updateForm("{{ js.canSatConnected }}");

			function recordingProcess(recordingState) {

				if(recordingState == "recording") {

					document.getElementById("connectToCansat").disabled = true;
					document.getElementById("mainContainer").style.opacity = 0.3;
					document.getElementById("header").style.opacity = 0.3;
					document.getElementById("batteryBackground").style.opacity = 0.3;
					document.getElementById("memoryBackground").style.opacity = 0.3;
					document.getElementById("stopRecordModal").classList.add('visible');

				}

			}

			recordingProcess("{{ js.recordingState }}");

		</script>

	</body>

</html>