<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ texts.page_title }}</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css')}}">
		<link rel="stylesheet" href= "{{ url_for('static', filename='css/base.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	</head>

	<body>
		
		<header>
			<h1>{{ texts.login_title }}</h1>
		</header>

		<article>
			<h1>{{ texts.identification }}</h1>

			<form action="" method="post">
				<input type="text" placeholder="{{ texts.username }}" name="username" value="" required autofocus>	
				<input type="password" placeholder="{{ texts.password }}"  name="password" value="" required autofocus>
				<input type="submit" value="{{ texts.login }}">
			</form>

			{% if error %}
				<p class="error">{{ texts.login_error }}</p>
			{% endif %}
		</article>

	</body>

</html>