<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>LC-sat web application: login</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css')}}">
		<link rel="stylesheet" href= "{{ url_for('static', filename='css/base.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	</head>

	<body>
		
		<header>
			<h1>LC SAT</h1>
		</header>

		<article>
			<h1>Identification</h1>

			<form action="" method="post">
				<input type="text" placeholder="Username" name="username" value="{{ request.form.username }}" required autofocus>	
				<input type="password" placeholder="password"  name="password" value="{{ request.form.password }}" required autofocus>
				<input type="submit" value="login">
			</form>

			{% if error %}
				<p class="error">Error: {{ error }}</p>
			{% endif %}
		</article>

	</body>

</html>