<!DOCTYPE html>
<html lang="en">

	<head>
	
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ texts.commands_page_title }}</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">

	</head>

	<body>
		
		<header id="header">
			<h1>LC SAT</h1>
		</header>

		<article class="mainContainer">
			
			<form action="" method="post">

				<label for="mapTitle">Map title:</label>
				<input type="text" value="{{ default_data.mapTitle }}" id="mapTitle" placeholder="Insert map title" name="mapTitle">

				<label for="iconsColor">Icons color:</label>
				<select name="iconsColor" id="iconsColor">

					{% for iconColor in default_data.iconsColor %}

						{% if iconColor == default_data.defaultIconsColor %}

							<option value="{{ iconColor }}" selected>{{ iconColor }}</option>

						{% else %}

							<option value="{{ iconColor }}">{{ iconColor }}</option>
						
						{% endif %}

					{% endfor %}

				</select>

				<label for="iconType">Select icon:</label>
				<select name="iconTypes" id="iconTypes">

					{% for icon in default_data.icons %}

						{% if icon == default_data.defaultIcon %}

							<option value="{{ icon }}" selected>{{ icon }}</option>

						{% else %}

							<option value="{{ icon }}">{{ icon }}</option>
						
						{% endif %}

					{% endfor %}

				</select>

				<label for="zoomStart">Select zoom start:</label>
				<input type="number" name="zoomStart" id="zoomStart" value="{{ default_data.zoomStart }}" min="1" max="18">

				<input type="submit">

			</form>

		</article>

	</body>

</html>