form {
	width: 60%;
}

form fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	width: 100%;
	padding-bottom: 30px;
}

form fieldset legend {
	padding: 10px;
	margin-left: 20px;
	font-size: 1.2em;
	background-color: var(--textColor);
	color: var(--headersBackgroundColor);
}

input[type="checkbox"] {
	height: 40px;
}

table {
	margin-top: 50px;
	width: 90%;
	border-collapse: collapse;
	text-align: center;
	color: var(--textColor);
}

table thead tr th{
	background-color: var(--textColor);
	color: var(--headersBackgroundColor);
	padding: 10px;
	font-size: 1.5em;
}

table tbody tr:nth-child(odd){
	background-color: var(--componentsBackgroundColor);
}

table tbody tr:nth-child(even){
	background-color: var(--headersBackgroundColor);
}

table tbody tr td input {
	border: none;
	background-color: var(--backgroundColor);
}

table tfoot tr td {
	background-color: var(--textColor);
	color: var(--headersBackgroundColor);
	padding: 5px;
}

table tfoot tr td p {
	width: 100%;
}

input[type="color"] {
	height: 40px;
}

#modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--componentsBackgroundColor);
	box-shadow: 0 2px 2px var(--headersBackgroundColor);
	color: var(--textColor);
	display: none;
	padding: 20px;
	flex-direction: row;
	align-items: center;
}

#modal button {
	background: none;
	border: none;
	width: auto;
	height: auto;
}

#modal.visible {
	display: flex;
}


#submitForm {
	background-color: var(--componentsBackgroundColor);
	color: var(--textColor);
	padding: 15px;
	margin: 50px;
	width: 200px;
	text-align: center;
	box-shadow: 0 2px 2px var(--headersBackgroundColor);
	font-size: 1.2em;

}